<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误提示</title>
    <style>
        html,body{
            height: 100%;
            width: 100%;
            background: linear-gradient(to right, #2288e0, #55d7f4);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 200px;
        }
        h1{
            color: #ffffff;
        }
    </style>
</head>
<body>
<h1>提示：{$msg}</h1>
</body>
</html>